html {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
  color: #aaa;
  background-color: #222;
  -webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
  max-width: 768px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: #0af;
  transition: color .2s ease-in-out;
}

a:hover, a:active {
  color: #6DF;
  transition: color .2s ease-in-out;
}

blockquote {
  margin: 0;
  padding: 0;
}

blockquote p {
  font-family: 'IBM Plex Serif', 'Georgia', Times, serif;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2.25rem;
  color: #fff;
  padding: 0 1rem;
}

h1 {
  padding: 0 1rem;
  margin: 4rem 0;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.25rem;
  color: #fff;
}

h1 span {
  color: #888;
}

h1 strong {
  font-weight: 800;
}

h2 {
  padding: 0 1rem;
  margin: 1rem 0;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #888;
}

p {
  padding: 0 1rem;
  margin: 1rem 0;
}

p.meta {
  margin: 1rem 0 4rem 0;
  color: #888;
}

ul.footer {
  margin: 4rem 0 1rem 0;
}

ul, ol{
  padding: 0 1rem;
  margin: 1rem 0;
  list-style: none;
  color: #888;
}

ul li {
  display: inline-block;
  margin: 0 1rem 0 0;
  font-weight: 800;
}

ol li {
  margin: 0 0 .5rem 0;
}

ol li a,
h2 a {
  font-weight: 800;
}

a.more {

}

@media all and (min-width: 1024px) {
  h1 {
    font-size: 2rem;
    line-height: 3rem;
  }
  blockquote p {
    font-size: 2rem;
    line-height: 3rem;
  }
}
